.header__contakts-list {
  @media screen and(min-width: $desctop) {
    display: inline-flex;
    margin-right: 0;
    margin-left: auto;
  }
}
.contakts-list__item {
  @media screen and(min-width: $tablet) and(max-width: $to-desctop) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and(min-width: $desctop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contakts-list__link {
  display: inline-flex;
  @media screen and(min-width: $tablet) {
    display: flex;
  }
  align-items: center;
  color: $light-text-color;
  transition: color 250ms $cubic;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  @media screen and(min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and(min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover .contakts__icon,
  &:focus .contakts__icon {
    fill: $accent-color;
  }
}
.contakts__icon {
  fill: $light-text-color;
  transition: fill 250ms $cubic;
  margin-right: 10px;
}
