$accent-color: #2196f3;
$text-color: #212121;
$light-text-color: #757575;
$icons-color: #afb1b8;
$footer-address-links-color: rgba(255, 255, 255, 0.6);
$footer-sm-icons-bgc: rgba(255, 255, 255, 0.1);
$bgc: #2f303a;
$feature-icons-bgc: #f5f4fa;
$hero-bg-color: rgba(47, 48, 58, 0.4);
$modal-bgc: rgba(0, 0, 0, 0.2);
$occupation-bgc: rgba(47, 48, 58, 0.8);
$portfolio-card-bgc: rgba(33, 150, 243, 0.9);
$phone: 480px;
$to-phone: 479px;
$tablet: 768px;
$to-tablet: 767px;
$desctop: 1200px;
$to-desctop: 1199px;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
